**/bin/**
**/obj/**
**/.vs/**
**/.local/**
ManagementDays_O/MD/MDFrontend/appsettings.Development.json
ManagementDays_O/MD/MDFrontend/MDFrontend.csproj.user
ManagementDays_O/MD/MDFrontend/appsettings.Development.json
ManagementDays_O/MD/MDFrontend/MDFrontend.csproj.user
